.chat-container{
    height: 100vh;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

.usuario-autor {
    color: #992800;
    font-family: "Bungee", sans-serif;
    font-style: italic;
    font-size: 0.8rem;
}

.usuario-externo {
    color: #d34a24;
    font-family: "Bungee", sans-serif;
    font-style: italic;
    font-size: 0.8rem;
}

.tiempo {
    font-size: 0.7rem;
    font-style: italic;
}

.mensajes {
    display: flex;
    flex-direction: column; 
    gap: 0.5rem;         
    padding: 0;
    margin: 0 auto;     
    font-size: 0.8rem;
    height: 100vh;
}

.texto {
    color: black;
}

.user-autor {
    display: flex;
    flex-direction: column;
    background-color: #d34a24;
    border: 2px solid #f9a961;  
    color: white;                     
    padding: 0.6rem 1rem;            
    border-radius: 1rem;             
    max-width: 70%;             
    margin: 0.5rem 0;                 
    margin-left: auto;      
    word-wrap: break-word;            
}

.user-externo {
    display: flex;
    flex-direction: column;
    border: 2px solid #d34a24;
    background-color: #f9a961;
    color: white;
    padding: 0.6rem 1rem;
    border-radius: 1rem;
    max-width: 60%;
    margin: 0.5rem 0;
    margin-right: auto;     
    word-wrap: break-word;
}

.input-area {
    display: flex;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px ;
    justify-content: space-evenly;
}

.input {
    width: 70%;
}

.btn {
    width: 30%;
}