<div class="chat-container">
  <!-- Lista de mensajes -->
  <div class="mensajes">
    
    <div>
        @for (mensaje of mensajes(); track $index) {

            @if ( mensaje.user_id === usuario()?.id) {
              <div class="text-center user-autor"> 
                <span class="usuario-autor"> {{ mensaje.nombre}} </span>
                <p class="p-0 m-0 texto"> {{mensaje.mensaje}} </p>
                <span class="tiempo"> {{mensaje.created_at | fechaPersonalizada }} </span>
              </div>
            } @else { 
              <div class="text-center user-externo">
                <span class="usuario-externo"> {{mensaje.nombre}} </span>
                <p class="p-0 m-0 texto"> {{mensaje.mensaje}} </p>
                <span class="tiempo"> {{mensaje.created_at | fechaPersonalizada}} </span>
              </div>
            }
        }
        

    </div>

  <!-- Input para enviar -->
  <div class="input-area p-3 bg-white border-top">
    <form [formGroup]="chatForm" (ngSubmit)="enviarMensaje()" class="d-flex gap-2">

      <input type="text" class="form-control" formControlName="texto" placeholder="Escribe un mensaje..." appAutofocus/>

      <button type="submit" class="btn btn-danger rounded-pill flex-shrink-0">Enviar</button>
    </form>
  </div>
</div>
