.color {
    background-color: #992800;
}

.contenedor-bienvenida-color{
    background-color: #f3af73; 

}

.mensaje-bienvenida {
    margin: 0 auto;
}

p {
    color: black;
}

.card {
    background-color: #f9a961;
    border: 2px solid #d34a24;
}

.card-title {
    font-family: "Bungee", sans-serif;
    color: #d34a24;
    text-shadow: 2px 2px 2px black;
}


#btnChat {
  position: fixed;
  bottom: 2rem;      
  right: 2rem;      
  z-index: 1050;    
  padding: 10px;
  border-radius: 50%;
  background-color: #d34a24; 
  border: none;
}

#btnChat:hover {
  transform: scale(1.1);
}

/* Imagen dentro del botón */
.btn-chat-img {
    width: 5rem;
    height: 5rem;
    object-fit: cover; 
}

/* Contenedor del chat colapsable */
.chat-container-right {
    position: fixed;
    bottom: 8.5rem; 
    right: 20px;
    width: 30rem;
    max-height: 30rem;
    background-color: rgba(253, 191, 213, 0.8);
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    overflow-y: auto;
    z-index: 1040;
}