<!--Contenedor de mi perfil-->
<div class="container-perfil">
    <h2>MI PERFIL</h2>

    @if (loading) {
        <div><p>Cargando Usuario...</p></div>  
    }
    
    @if(error) {
        <div><p>Error al cargar el usuario: {{error}}</p></div>
    }

    @if (usuario !== null) { 
        <div class="container-card">
            <app-usuario-card [usuario]="usuario" [repositorios]="repositorios">

            </app-usuario-card>
        </div>
    }
</div>

<!--Contenedor de la explicación del juego-->
<div class="container-juego">
    <h2>Juego Propio <img src="assets/icons/joystick.png" alt=""></h2>
    <h3>Busqueda del tesoro</h3>
    <p>El juego se basa en la busqueda de un tesoro, el usuario podrá moverse de izquierda a derecha y de arriba a abajo para poder encontrarlo y asi ganar el juego.
    Durante el camino se presentarán dificultades que se tendrán que evitar (bombas), de lo contrario el usuario perdera al agotar sus 3 vidas.</p>
</div>