/*Informacion del perfil*/
.container-perfil {
    display: flex;
    flex-direction: column;
    padding: 3rem;
    align-items: center;
}

.container-card {
    display: flex;
    justify-content: center;
}

h2 {
    font-family: "Monoton", sans-serif;
    font-weight: 400;
    font-style: oblique;
    color:#d34a24;
    text-shadow: 0rem 0rem 1.4rem #d34a24 ;
    padding-bottom: 2rem;
}

h3 {
    text-shadow: 2px 2px 2px black;
}

/*Informacion del juego*/
.container-juego {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem;
    background-color: #f9a961;
}
