/*Informacion del perfil*/
.container-perfil {
    display: flex;
    flex-direction: column;
    padding: 3rem;
    align-items: center;
}

.container-card {
    display: flex;
    justify-content: center;
}

h2 {
    font-family: "Monoton", sans-serif;
    font-weight: 400;
    font-style: oblique;
    color:#d34a24;
    text-shadow: 0rem 0rem 1.4rem #d34a24 ;
    padding-bottom: 2rem;
}

.card {
    background-color: #d34a24;
}

h3 {
    text-shadow: 2px 2px 2px black;
}

p {
    color: black;
}

/*Informacion del juego*/
.container-juego {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem;
    background-color: #f9a961;
}

.container-tutorial {
  padding: 0 2rem; 
}

.tutorial-row {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem; 
  justify-content: flex-start;
}

.tutorial-card {
  flex: 0 0 calc(25% - 1.5rem); /* 4 por fila con gap incluido */
  padding: 1.5rem;
  border-radius: 1rem;
  background: #fff;
}

.tutorial-card p {
  flex-grow: 1;
  overflow: auto;
}

/* media query*/
@media (max-width: 992px) {
  .tutorial-card {
    flex: 0 0 calc(50% - 1rem);
  }
}

@media (max-width: 576px) {
  .tutorial-card {
    flex: 0 0 100%;
  }
}