
<!--Card de mi usuario de gitHub-->
<div class="card-usuario"> 
    <!--Mi imagen, ubicada a la izquierda -->
    <p> <img src="{{usuario().avatar_url}}" alt="">
    
     <!--Informacion textual de la derecha -->
    <div class="div-texto">

         <!--Mi nombre de usuario -->
        <h3> <span>{{usuario().login}}</span> </h3>

         <!--Datos extras requeridos -->
        <div class="usuario-informacion">
            <div class="usuario-data"> 
                <h4>Repositorios:</h4>
                 <p> {{repositorios()}} </p>
            </div>

            <div class="usuario-data"> 
                <h4>Seguidores: </h4>
                <p>{{usuario().followers}} </p>
            </div>

            <div class="usuario-data"> 
                <h4>Seguidos: </h4>
                <p>{{usuario().following}} </p>
            </div>
        </div>
    </div>
</div>

