<!--nav-bar con bootstrap-->
<nav class="navbar navbar-expand-lg shadow-sm navbarColor" id="nav">
  <div class="container-fluid">
    <!-- Logo -->
    <a class="navbar-brand d-flex align-items-center a-logo" routerLink="/">
    <img src="assets/img/logo.png" alt="Logo" width="60" height="60" class="me-2">
      MaleArcade
    </a>
    
    <!-- Responsive (menu hamburguesa) -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse justify-content-between" id="navbarContent">
      
      <!-- Links al medio -->
      <ul class="navbar-nav nav-underline mx-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Bienvenida</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/quienSoy">Quién Soy</a>
        </li>
      </ul>

      <!-- Botones a la derecha (inicio de sesión y registro) -->
      <div class="d-flex">
        <button class="btn btn-outline-light me-2 btn-color-1" routerLink="/login">Iniciar Sesión</button>
        <button class="btn btn-primary btn-color-2" routerLink="/registro">Registrarse</button>
      </div>
    </div>
  </div>
</nav>
