
<div>
    <nav>
        <div> 
            <h1>MaleArcade</h1>
            <ul>
                <li>
                    <a routerLink="/">Bienvenida</a>
                </li>
                <li>
                    <a routerLink="/quienSoy">Quién Soy</a>
                </li>
                <li>
                    <a href="/login">Logearse</a>
                </li>
                <li>
                    <a href="/registro">Registrarse</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
